@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-start-rgb: 26, 11, 46;
    --background-end-rgb: 15, 5, 32;
    --background: 275 67% 11%;
    --foreground: 0 0% 98%;
    
    --card: 275 60% 15%;
    --card-foreground: 0 0% 98%;
    
    --popover: 275 67% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 88% 66%;
    --primary-foreground: 0 0% 98%;

    --secondary: 275 50% 25%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 275 50% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 262 88% 66%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 275 50% 25%;
    --input: 275 50% 25%;
    --ring: 262 88% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background-start-rgb: 26, 11, 46;
    --background-end-rgb: 15, 5, 32;
    --background: 275 67% 11%;
    --foreground: 0 0% 98%;
    
    --card: 275 60% 15%;
    --card-foreground: 0 0% 98%;
    
    --popover: 275 67% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 88% 66%;
    --primary-foreground: 0 0% 98%;

    --secondary: 275 50% 25%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 275 50% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 262 88% 66%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 275 50% 25%;
    --input: 275 50% 25%;
    --ring: 262 88% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  }
}

@layer utilities {
  .button-gradient-primary {
    @apply bg-gradient-to-r from-purple-600 to-violet-500 text-white;
  }
}
